<div class="jumbotron text-center">
  <h1>TO-DO Application</h1>
  <p class="lead">Login or Register and login to see your TO-DO</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="alert alert-dismissible alert-danger">
      <strong>Forgot Something</strong>
      <p>Dont worry!</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="alert alert-dismissible alert-primary">
      <strong>We Remember it for you</strong>
      <p>Do this? Done this!</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="alert alert-dismissible alert-success">
      <strong>We make your day good</strong>
      <p>Have a great day</p>
    </div>
  </div>
</div>
