<div class="jumbotron text-center">
  <h1>TO-Do Application</h1>
  <p class="lead">Register and login to TO-DO</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Forgot Somthing</h3>
    <p>Dont worry!</p>
  </div>
  <div class="col-md-4">
    <h3>we make your Day good</h3>
    <p>Have a great day</p>
  </div>
  <div class="col-md-4">
    <h3>We Remember for you</h3>
    <p>Do this? Done this!</p>
  </div>
</div>